body {
    direction: rtl;
}

table {
    border: 1px black;
    margin: 0px auto;
}

th, td {
    border: 1px black;
    padding: 10px;
    text-align: left;
}

.title {
    color: blue;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}

.row1 {
    background-color: #f7db06;
    color: black;
    font-family: 'Alef', sans-serif;
}

.num {
    background-color: #f7db06;
}

.madmah {
    background-color: #ff9990;
}

.ezr {
    background-color: #fa9536;
}

.tanah {
    background-color: #fafa62;
}

.anglit {
    background-color: #ccff96;
}

.matematika {
    background-color: #99ff92;
}

.tikshoret {
    background-color: #99ffcc;
}

.habea {
    background-color: #99ccff;
}

.sipur {
    background-color: #9999ff;
}

.taba {
    background-color: #cc99ff;
}

.hagan {
    background-color: #ff99cc;
}
